body {
    text-align: center;
    margin: auto;
    padding: 0;
    background-color:#c4df9b;    
}

#header {
    width: 360px;
    height: 130px;
    margin: auto;
    text-align: center;
    background-image: url("/images/header_background.png");
    background-size: 360px, 130px;
    background-repeat: no-repeat;
}

#level {
    position: relative;
    left: 30px;
    top: 0px;
    width: 82px;
    height: 88px;
    background-image: url("/images/level_background.png");
    background-size: 82px, 88px;
    background-repeat: no-repeat;
    padding-top: 25px;
    color: #F3E100;
    font-size: 40px;
}

#timebar {
    width: 300px;
    height: 14px;
    position: relative;
    left: 30px;
    top: -15px;
    background-image: url("/images/timebar_background.png");
    background-size: 300px, 14px;
    background-repeat: no-repeat;
}

#clock {
    width: 28px;
    height: 28px;
    position: relative;
    left: 310px;
    top: -37px;
    background-image: url("/images/clock.png");
    background-size: 28px, 28px;
    background-repeat: no-repeat;
}

#timebar-inner {
    width: 272px;
    height: 10px;
    position: relative;    
    top: -55px;
    left: 36px;
    background-color: red;
}

#canvas {
    /* background-image:  url("/images/logo.jpg") */
    width: 288px;
    height: 384px;
    margin: auto;
    text-align: center;
    background-color: #2D2A2C;
}

#main {
    width: 360px;
    padding-top: 13px;
    margin: auto;
    text-align: center;
    background-image:  url("../images/suchuan_background.png");
    background-size: 100% 100%;
}

#scoreboard {
    width: 360px;
    height: 64px;
    padding-right: 32px;
    padding-left: 32px;
    display: inline-flex;
}

#pause {
    width: 12%;
    height: 40px;
    background-color: #584C3D;
    color: white;
}

#score {
    width: 54%;
    height: 28px;
    color: white;
    padding-top: 12px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #584C3D;
}

#back {
    width: 12%;
    height: 40px;
    background-color: #584C3D;
    color: white;
}

